@media screen and (max-width: 768px) {
	/* 文章页面样式================================================================= */
	.article {
	  width:90% !important;
	  padding: 10px 2% !important;
	}
	.article-title {
	  padding: 4px !important;
	}
	.article-p {
	  font-size: 16px !important;
	}
}